<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-MI79Q6G\\SQLEXPRESS;Initial Catalog=horrornovies;Integrated Security=True"/>
  </connectionStrings>

</configuration>
